{
  "global_working_directory": "/tmp",
  "global_log_file": "/tmp/restarter_output.log",
  "global_pid_file": "/tmp/restarter.pid",
  "global_watch_file": "/tmp/global_watch.restarter",
  "keep_alive": true,
  "email_notification": {
    user:       "username", 
    password:   "password", 
    host:       "smtp.gmail.com", 
    ssl:        true
  },
  "restartables":
    [
      {
        "working_directory": "/tmp",
        "command": "node test.js",
        "pid_file": "/tmp/test.pid",
        "signal": "SIGINT",
        "log_file": "/tmp/test.log",
        "watch_file": "/tmp/test.restarter"
      },
      {
        "working_directory": "/tmp",
        "command": "node /tmp/test2.js",
        "pid_file": "/tmp/test2.pid",
        "signal": "SIGINT",
        "log_file": "/tmp/test2.log",
        "watch_file": "/tmp/test2.restarter"
      }
    ]
}